<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lesson10 WebApp Demo - Sys Admin</title>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <h1>System Administration</h1>
        <nav>
            <a href="/sysadmin/student/list">Students List</a> |
            <a href="/sysadmin/student/Edit">Edit Student</a> |
            <a href="/sysadmin/student/Delet">Delete Student</a> |
<!--            <a href="/sysadmin/course/list">Courses</a> |-->
<!--            <a href="/sysadmin/classroom/list#">Classrooms</a>-->
<!--            <a href="/sysadmin/transcript">Transcript</a>-->
<!--            <a href="/sysadmin/student">Edit Student</a>-->
        </nav>
    </main>

</body>
</html>